.box1{
    background-color: aqua;
}
.box2{
    background-color: rgb(206, 201, 219);
}
.box3{
    background-color: rgb(68, 185, 32);
}
.box4{
    background-color: rgb(238, 128, 152);
}
.box5{
    background-color: rgb(161, 163, 23);
}
.box6{
    background-color: rgb(217, 230, 206);
}

.container{
 display: grid;
 grid-template-rows: 150px 250px; 
 grid-template-columns: 100px 200px 300px;
 /* if you put / in between, it is same;
 grid-template:150px 250px / 100px 200px 300px
  */
}

/* px yerine fr kullan. sayfayi oranlar */

/* .box2{
    order:1 ;
} */

